<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="author" content="Divyanshu Talwar">
		<link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
		<link rel="stylesheet" type="text/css" href="../css/loginFailure.css">
	</head>

	<body>
		<header>
			<div class = "container">
				<div class = "row">
					<div class = "col-sm-6">
						<p id = "heading">Tracking System</p>
					</div>
					<div class = "col-sm-3">
					</div>
					<div id = "signup" class="col-sm-3">
						<a href="/"> New User? Signup </a>
					</div>
				</div>
			</div>
		</header>
		<section class="container">
			<form action = "/login" method = "post">
				<div id = "login-form">
					<div class="row">
						<h1><center><u>Login</u></center></h1>
						<% if (message.length > 0) { %>
							<center><div class="alert alert-danger"><%= message %></div></center>
						<% } %>
					</div>
					<div id = "input_login">
						<div class="form-group">
							<label class="control-label" for="">Username</label>
							<input type="text" class="form-control" placeholder="Username" name = "username">
						</div>
						<div class="form-group">
							<label class="control-label" for="">Password</label>
							<input type="password" class="form-control" placeholder="Password" name="password">
						</div>
					<div>
					<div class="row">
						<center>
							<button type="submit">Login</button>
						</center>
					</div>	
				</div>
			</form>
		</section>
					
		<footer>
			<div class="row">
				<p class="col-sm-4">&copy; Tracking System</p>
				<ul class="col-sm-8">
					<li class="col-sm-1">
					<img src="../images/twitter.svg">
					</li>
					<li class="col-sm-1">
					<img src="../images/facebook.svg">
					</li>
					<li class="col-sm-1">
					<img src="../images/instagram.svg">
					</li>
				</ul>
			</div>
		</footer>

		<script src="http://code.jquery.com/jquery-1.11.3.min.js"></script>
<!-- 		<script src="../js/login.js"></script> -->
		<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?&callback=initMap"></script>
	</body>
</html>